html {
    width: 100%;
    height: 100%;
}

body {
    background: url('../img/background.gif');
    height: 100%;
    width: 100%;
    color: rgb(238, 238, 238);
    font-size: 3.5rem;
    margin-top: 20px;
}

.carrouselTitle {
    margin-bottom: 50px
}

.cardMeusDadosTitle {
    font-size: 30px;
}

.inputBox {
    width: 80%;
    text-align-last: justify;
    margin: auto;
}

.inputCheckBox {
    display: flex;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 55px;
}

.tempoRestanteTxt {
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 40px;
}

#timer {
    font-size: 30px
}

.textTermo {
    font-size: 24px;
}

.inputForm {
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 30px;
}

.inputFormTxt {
    font-size: 24px;
    text-align: justify;
    margin-left: 60px;
    margin-bottom: -15px;
}

.alignForm {
    margin-bottom: -35px;
}

a {
    text-decoration: none;
    color: white;
}

header img {
    margin-top: 20px;
    margin-left: 20px;
    width: 80px;
}

.cardTransfira {
    background-color: #6A77F0;
    height: 590px;
    width: 500px;
    text-align: center;
    border-radius: 14px;
}

.tituloTransfira {
    font-size: 30px;
}

.qrCode {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.qrCodeCopy {
    background-color: white;
    color: black;
    font-size: 40px;
    width: 480px;
    margin: auto;
    border-radius: 10px;
}

#cards {
    margin-top: 50px;
    display: flex;
    align-items: center;
    place-content: space-around;
}

input[type="checkbox"] {
    transform: scale(2);
    border: none;
    margin-right: 15px;
}

.btn {
    height: 50px;
    width: 50px;
    background: #4556EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
}

.cardMeusDados {
    background-color: #6A77F0;
    height: 590px;
    width: 500px;
    text-align: center;
    border-radius: 14px;
}