html{
    width: 100%;
    height: 100%;
}

body{
    background: url('../img/background.gif');
    height: 100%;
    width: 100%;
    font-family:'Roboto';
    color: rgb(238, 238, 238);
    font-size: 3.5rem;
    margin-top: 20px;
}

header{
    display: flex;
    place-items: center;
    place-content: center;
}

header img{
    width: 100px;  
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite; 
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.btnActionCarrousel{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #6A77F0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
}

.conjuntoBtn a{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #6A77F0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
   
}

#carrouselPlanetas{
    text-align: center;
    text-align: center;
    margin-top: 100px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 100px;
}

.itemCarrouselFoto{
    border-radius: 50px;
    background-color: #6A77F0;
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    place-content: center;
    align-items: center;
}

.itemCarrouselFoto img{
    width: 300px;
    height: 300px;
}

.planeta250{
    width: 250px;
    height: 250px;
}

.planeta300{
    width: 300px;
    height: 300px;
}
.conjuntoBtn{
    flex-basis: 80%;
    text-align: center;
}

#botoes{
    display: flex;
    width: 100%;
    place-content: center;
    align-items: center;
}

.btnActionCarrousel img{
    width: 30px;
}