html{
    width: 100%;
    height: 100%;
}

body{
    background: url('../img/background.gif');
    height: 100%;
    width: 100%;
    font-family:'Roboto';
    color: rgb(238, 238, 238);
    font-size: 3rem;
}

header{
    display: flex;
    place-items: center;
    place-content: center;
}

header img{
    width: 50px;   
}

.btnActionCarrousel{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #6A77F0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
}

.conjuntoBtn a{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #6A77F0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
   
}

#carrouselPlanetas{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.itemCarrouselFoto{
    border-radius: 50px;
    background-color: #6A77F0;
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    place-content: center;
    align-items: center;
}

.itemCarrouselFoto img{
    width: 300px;
    height: 300px;
}

.conjuntoBtn{
    flex-basis: 80%;
    text-align: center;
}

#botoes{
    display: flex;
    width: 100%;
    place-content: center;
    align-items: center;
}

.btnActionCarrousel img{
    width: 30px;
}